/*Main novedades*/
.main-novedades {
    .section-novedades {
        div {
            margin-bottom: 15px;
            .novedades {
                @include sizes(400px, 730px);
                img {
                    @include sizes(100%, 50%);
                    @extend %border-img;
                    &:hover {
                        transform: scale(1.1);
                        transition-duration: 1.5s;
                    }
                }
                h2 {
                    padding-top: 20px;
                    align-items: center;
                    text-align: center;
                    font-family: $h2-font;
                }
                p{
                    @extend %estilos-p;
                }
            }
        }
    }
}