/*Header*/
header {
    background-color: nth($list: $colores, $n: 2);
    @include sizes (100%, 160px);
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 2;
    nav {
        div {
            div {
                ul {
                    li {
                        list-style-type: none;
                    }
                }
            }
            a {
                img {
                    width: 160px;
                    animation-name: animacion-header;
                    animation-duration: 1.5s;
                    animation-iteration-count: 1;
                }
            }
        }
    }
}

@keyframes animacion-header {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}